{% extends "layout.html" %}

{% block head %}
    <link rel="stylesheet" href="../static/big_ad_style.css">
    <title>Имоти под наем</title>
{% endblock %}

{% block body %}
    <div class="property-ad">
        <div class="description">
            <h1>Обява за Имот</h1>
            <p><strong>Тип имот:</strong> Къща</p>
            <p><strong>Локация:</strong>Студентски град</p>
            <p><strong>Адрес:</strong> ж.к Студентски град, N- 7</p>
            <p><strong>Наем на месец:</strong> 500лв</p>
            <p><strong>Квадратура:</strong> 40кв.м</p>
            <p><strong>Описание:</strong> Няма</p>
            <p><strong>Ремонт:</strong> Позволен</p>
            <p><strong>Вид:</strong> Етаж от къща</p>
            <p><strong>Година:</strong> 2007г.</p>
            <p><strong>Строителство:</strong> Тухла</p>
            <p><strong>Гараж:</strong> Да</p>
            <p><strong>Двор:</strong> Не</p>
            <p><strong>Допълнителна земя:</strong> Не</p>
            <p><strong>Позволени ли са домашни любимци:</strong> Да</p>
        </div>
        <div class="image">
            <img src="https://cdn1.vectorstock.com/i/1000x1000/73/70/isolated-flat-house-home-concept-simple-vector-13747370.jpg" alt="Снимка на имота">
        </div>
    </div>
{% endblock %}