<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/style_login.css">
    <title>GVK-Rent</title>
</head>
<body>
    <div class="container">
        <button onclick="location.href = '/';" class="exit">X</button>
        <div class="signin-signup">
            <form method="POST" class="sign-in-form">
                <h2 class="title">Sign in</h2>
                <input type="hidden" name="form_id" value="signin">
                <div class="input-field">
                    <i class="fa fa-user"></i>
                    <input autocomplete="off" required type="email" name="email_l" placeholder="Email">
                </div>
                <div class="input-field">
                    <i class="fa fa-lock"></i>
                    <input autocomplete="off" required type="password" name="password_l" placeholder="Password">
                </div>
                <div aria-required="true">
                    <input name="role" type="radio" value="Staff"> Брокер
                    <input name="role" type="radio" value="Client"> Клиент    
                </div>
                <input type="submit" value="Login" class="btn">
                <p class="account-text">Don't have an account? <a href="#" id="sign-up-btn2">Sign up</a></p>
            </form>
            <form method="POST" class="sign-up-form">
                <h2 class="title">Sign up</h2>
                <input type="hidden" name="form_id" value="signup">
                <div class="input-field">
                    <i class="fa fa-user"></i>
                    <input autocomplete="off" required type="text" name="username" placeholder="Username">
                </div>
                <div class="input-field">
                    <i class="fa fa-envelope"></i>
                    <input autocomplete="off" required type="email" name="email_r" placeholder="Email">
                </div>
                <div class="input-field">
                    <i class="fa fa-lock"></i>
                    <input required type="password" name="password_r" placeholder="Password">
                </div>
                <div class="input-field">
                    <i class="fa fa-phone"></i>
                    <input autocomplete="off" required type="text" name="number" placeholder="Phone Number">
                </div>
                <input type="submit" value="Sign up" class="btn">
                <p class="account-text">Already have an account? <a href="#" id="sign-in-btn2">Sign in</a></p>
            </form>
        </div>
        <div class="panels-container">
            <div class="panel left-panel">
                <div class="content">
                    <h3 class="site_name">GVK-Rent</h3>
                    <p>Чрез неповторимо обслужване и чудесни резултати, ние помагаме на нашите клиенти да постигнат целите си в сферата на недвижимите имоти в града, който обичаме</p>
                    <button class="btn" id="sign-in-btn">Sign in</button>
                </div>
                <img src="../static/signin.jpg" alt="" class="image">
            </div>
            <div class="panel right-panel">
                <div class="content">
                    <h3 class="site_name">GVK-Rent</h3>
                    <p>Чрез неповторимо обслужване и чудесни резултати, ние помагаме на нашите клиенти да постигнат целите си в сферата на недвижимите имоти в града, който обичаме</p>
                    <button class="btn" id="sign-up-btn">Sign up</button>
                </div>
                <img src="../static/signup.jpg" alt="" class="image">
            </div>
        </div>
    </div>
    <script src="../static/app.js"></script>
</body>
</html>