{% extends "layout.html" %}

{% block head %}
	<title>Агенции</title>
	<link rel="stylesheet" href="../static/Agencies.css">
{% endblock %}

{% block body %}
	<div class="container1">
		<div class="title">Агенции</div>
		<form id="propertyForm">
			<div class="agencies">
				<div class="grid-container">
					<div class="grid-item">
						<h3><i class="fa-icon fas fa-map-marker-alt"></i>Квартал: Младост 1</h3>
						<p><i class="fa-icon fas fa-user"></i>Мениджър: Диана Младенова</p>
						<p><i class="fa-icon fas fa-phone"></i>Тел: 0887878787</p>
					</div>
					<div class="grid-item">
						<h3><i class="fa-icon fas fa-map-marker-alt"></i>Квартал: Овча купел</h3>
						<p><i class="fa-icon fas fa-user"></i>Мениджър: Петър Иванов</p>
						<p><i class="fa-icon fas fa-phone"></i>Тел: 0889090787</p>
					</div>
					<div class="grid-item">
						<h3><i class="fa-icon fas fa-map-marker-alt"></i>Квартал: Лозенец</h3>
						<p><i class="fa-icon fas fa-user"></i>Мениджър: Георги Георгиев</p>
						<p><i class="fa-icon fas fa-phone"></i>Тел: 0898922782</p>
					</div>
					<div class="grid-item">
						<h3><i class="fa-icon fas fa-map-marker-alt"></i>Квартал: Студентски град</h3>
						<p><i class="fa-icon fas fa-user"></i>Мениджър: Чандлър Бинг</p>
						<p><i class="fa-icon fas fa-phone"></i>Тел: 0876636791</p>
					</div>
					<div class="grid-item">
						<h3><i class="fa-icon fas fa-map-marker-alt"></i>Квартал: Малинова долина</h3>
						<p><i class="fa-icon fas fa-user"></i>Мениджър: Цвети Боянова</p>
						<p><i class="fa-icon fas fa-phone"></i>Тел: 0887878937</p>
					</div>
					<div class="grid-item">
						<h3><i class="fa-icon fas fa-map-marker-alt"></i>Квартал: Бояна</h3>
						<p><i class="fa-icon fas fa-user"></i>Мениджър: Красимира Банкова</p>
						<p><i class="fa-icon fas fa-phone"></i>Тел: 0895558337</p>
					</div>
					<div class="grid-item">
						<h3><i class="fa-icon fas fa-map-marker-alt"></i>Квартал: Дружба 1</h3>
						<p><i class="fa-icon fas fa-user"></i>Мениджър: Християн Димитров</p>
						<p><i class="fa-icon fas fa-phone"></i>Тел: 0895558352</p>
					</div>
					<div class="grid-item">
						<h3><i class="fa-icon fas fa-map-marker-alt"></i>Квартал: Люлин 6</h3>
						<p><i class="fa-icon fas fa-user"></i>Мениджър: Богдан Богданов</p>
						<p><i class="fa-icon fas fa-phone"></i>Тел: 0895558352</p>
					</div>
				</div>
			</div>
		</form>
	</div>
{% endblock %}