{% extends "layout.html" %}

{% block head %}
    <title>Имоти под наем</title>
    <link rel="stylesheet" href="../static/ad_style.css">
{% endblock %}

{% block body %}
    <div class="listings">
        <!-- Шаблон за една обява -->
        <div class="listing">
            <img src="https://via.placeholder.com/300" alt="Image">
            <h2>Заглавие на обява</h2>
            <p>Описание на имота. Това е примерна обява.</p>
            <p class="price">Цена: 0 лв.</p>
        </div>
        <!-- Тук ще се добавят нови обяви -->
    </div>
{% endblock %}